/* Float Fix */
.clearfix:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }

/* Invisible Elements */
.element-invisible, .hidden { display: none; }

/* General */
.inline { display: inline; }










