/**
 * References: 
 * http://lesscss.org/
 * http://leafo.net/lessphp/docs/
 * See also less_examples.less
 *
 * NOTE: You can change all selectors and properties
 *       depending on you template markups. Also use
 *       available templates on baseless/templates/ 
 *       if necessary.
 *
 * Uncommon markups 
 *  pre, abbr, address, cite, code, del, dfn, ins, kbd, q, s, samp, small, var, b, u, i, caption, 
 *  iframe, object, blockquote, dl, dt, dd, sup, sub {}
 *
 * Deprecated  
 *  applet, acronym, basefont, big, center, dir, font, frame, frameset, noframes, strike, tt {}
 *
 * HTML 5 - http://www.w3schools.com/tags/default.asp  
 *  article, aside, audio, bdi, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, 
 *  keygen, mark, meter, nav, output, progress, rp, rt, ruby, section, source, summary, time, track, video, wbr {}
 *
 */
 
/* Global */
@text-color: #666;
@page-width: 960px;
@font-family: sans-serif;
@font-size: 12px;
@line-height: 1.2em;
@margin-bottom: 15px;

/* Some sample functions */
.header (@size: 200%, @color: #000, @line-height: 1.2em) {
 font-size: @size;
 color: @color;
 line-height: @line-height;  
}

.create-selector(@name) {
  (e(@name)) {
    color: red;
  }
}

.create-selector(".hello");
.create-selector(".world");

/* Base */
body { color: @text-color; font-family: @font-family; font-size: @font-size; line-height: @line-height; }
a { color: @text-color; }

/* node content and block content */
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6,
.content p,
.content table,
.content ul,
.content ol,
.content blockquote { margin-bottom: @margin-bottom; color: @text-color; }

/* Titles */
h1, #site-name { 
  .header (200%, #333); 
  a { color: #333; }
}
h2 { .header (150%, #999); }
h3 { .header (120%); }

/* Layout */
#page-wrapper { width: 100%; }
.section, .region, .node, .block { margin-bottom: @margin-bottom; }
.limiter { width: @page-width; margin: 0 auto; position: relative; }
.content-column { float: left; position: relative; }

/* Header */
#header-section {}
#logo { display: block; float: left; }
#site-name { float: left; padding-top: 80px; margin-bottom: @margin-bottom; color: @text-color; }
#header { float: right; }

/* Navigation */
#navigation-section{}
.menu {}
.inline {
  li { display: inline; }
}
.inline li a {}

/* Elements */
#page-tabs { position: absolute; right: 0; top: 0; }
#page-tabs li { display: inline; }
#breadcrumb { margin-bottom: @margin-bottom; }

/* Main Content */
#main-content-section {}
.sidebar-first #content-wrapper { width: 80%; float: right; }
.sidebar-second #content-wrapper { width: 80%; float: left; }
.two-sidebars #content-wrapper { width: 60%; float: left; }

.sidebar { width: 20%; }
#sidebar-first { float: left; }
#sidebar-second { float: right; }

/* Footer */
#footer-section {}

/* Forms */
input, textarea, select { border: 1px solid #ccc; font-family: @font-family; font-size: @font-size; }
.form-item {}
.form-required {}
.description {}
.form-actions {}
.form-submit { cursor: pointer; }

/* Misc. */
.item-list li { display: inline; }


/**
 * Fixes 

 - IE7 hack to mimic inline-block on block elements 
   *display: inline;
   *zoom: 1;

*/



